.headerNav {
  cursor: pointer;

  transition: all 0.3s;
}

.headerNavActive {
  transform: scale(105%);
  color: var(--color-brand-600);
}

.headerNavDropdown {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  list-style: none;

  position: absolute;

  top: 100%;

  transform-origin: top;

  transition: all 0.3s ease-out;

  padding: 3.2rem;
  padding-top: 5.4rem;

  background-color: var(--color-brand-300);
  border-radius: var(--border-radius-sm);

  font-size: 1.8rem;
}

.active {
  transform: translateX(-3.2rem) translateY(-3.2rem) scaleY(100%);
}

.inactive {
  transform: translateX(-3.2rem) translateY(-3.2rem) scaleY(0);
}

.headerNavLink {
  text-decoration: none;
  color: var(--color-brand-700);

  transition: all 0.3s;
}

.headerNavLink:hover {
  color: var(--color-brand-600);
  transform: scale(105%);
}
