.selectContainer {
  width: 100%;

  position: relative;
}

.select {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;

  border: 2px solid var(--color-brand-600);
  border-radius: var(--border-radius-sm);

  background-color: var(--color-brand-500);
  color: var(--color-brand-100);

  width: 100%;

  padding: 0.5rem 0.8rem;

  text-align: center;
}

.input:disabled {
  background-color: var(--color-white-600);
  color: var(--color-white-500);
  border: 2px solid var(--color-white-700);
}

@media (max-width: 30em) {
  .select {
    font-size: 1.4rem;
  }
}
