.heroContainer {
  height: 100%;

  position: relative;
}

.heroImage {
  width: 45%;
  height: 100%;
  object-fit: cover;

  position: absolute;
}

.heroImageGradient {
  width: 100%;
  height: 100%;

  position: absolute;

  background-image: linear-gradient(to right, transparent, var(--color-brand-700) 40%);
}

.heroInformation {
  padding: 3.2rem;
  padding-top: 4.8rem;

  display: flex;
  flex-direction: column;
  gap: 3.6rem;

  align-items: flex-end;

  position: relative;
  z-index: 1;

  color: var(--color-brand-200);
}

.heroText {
  width: 50%;
  text-align: end;
}

.heroContact {
  width: 50%;

  display: flex;
  flex-direction: column;

  align-items: flex-end;
  justify-content: center;

  gap: 2.4rem;
}

@media (max-width: 40em) {
  .heroImage {
    display: none;
  }

  .heroImageGradient {
    background-image: none;
    background-color: var(--color-brand-700);
  }

  .heroText {
    width: 100%;
    text-align: start;
  }

  .heroContact {
    width: 100%;
    align-items: flex-start;
  }
}

@media (max-width: 30em) {
  .heroInformation {
    font-size: 1.4rem;
    padding: 1.6rem;
    gap: 2.4rem;
  }
}
