.newsletterSection {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletterSignup {
  padding: 3.2rem 12.8rem;

  width: 100%;

  background-color: var(--color-brand-200);
  color: var(--color-brand-600);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 3.2rem;

  border: 7px double var(--color-brand-400);
}

.newsletterSignup > h2,
.newsletterSignup > h3 {
  text-align: center;
}

@media (max-width: 40em) {
  .newsletterSignup {
    padding: 3.2rem 6.4rem;
  }
}

@media (max-width: 30em) {
  .newsletterSignup {
    padding: 2.8rem 3.2rem;
  }
}

@media (max-width: 30em) {
  .newsletterSignup {
    font-size: 1.2rem;
    padding: 1.6rem 2.4rem;
    gap: 2.4rem;
  }
}
