@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

.spinner {
  width: 4.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, var(--color-gold-300) 94%, #0000) top/10px 10px no-repeat,
    conic-gradient(#0000 30%, var(--color-gold-300));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000 0);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000 0);
  animation: rotate 1.5s infinite linear;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  display: block;

  z-index: 999;
}
