.appContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.appContent {
  display: flex;
  flex-direction: column;

  background-image: linear-gradient(to right, var(--color-brand-100), var(--color-brand-200) 45%),
    linear-gradient(to left, var(--color-brand-100), var(--color-brand-200) 45%);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: left, right;

  flex: auto;

  overflow-y: auto;
}
