.locationSection {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.locationContainer {
  width: 100%;

  min-height: 60rem;

  position: relative;
}

.mapsContainer {
  width: 70%;
  height: 100%;

  position: absolute;
}

.locationGradient {
  width: 100%;
  height: 100%;

  position: absolute;

  top: 0;

  background-image: linear-gradient(to right, transparent, var(--color-brand-700) 65%);

  pointer-events: none;
}

.addressSection {
  font-size: 1.8rem;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  gap: 1.6rem;
}

.locationInformation {
  height: 100%;
  padding: 3.2rem;
  padding-top: 4.8rem;

  display: flex;
  flex-direction: column;
  gap: 3.6rem;

  align-items: flex-end;

  position: relative;
  z-index: 1;

  color: var(--color-brand-200);

  pointer-events: none;
}

.locationText {
  width: 30%;
  text-align: end;
}

@media (max-width: 40em) {
  .mapsContainer {
    position: relative;
    width: 100%;
    height: 35rem;
  }

  .locationGradient {
    display: none;
  }

  .locationInformation {
    background-color: var(--color-brand-700);
  }

  .locationContainer {
    display: flex;
    flex-direction: column;
  }

  .locationText {
    width: 100%;
    text-align: start;
  }

  .locationInformation,
  .addressSection {
    align-items: flex-start;
  }
}

@media (max-width: 30em) {
  .locationInformation {
    font-size: 1.2rem;
    padding: 2.4rem;
    gap: 2.4rem;
  }

  .addressSection {
    font-size: 1.4rem;
    gap: 1.2rem;
  }
}
